.b-bg-white{background-color:#fff;}
.b-color-75{color: #757575;}
.z-index-100{z-index: 100;}
.b-item-user-head{ padding:30px 10px; }
.b-login-main{margin: 100px 20px; border-left: #dddddd 1px solid;border-right: #dddddd 1px solid;border-radius: 5px;}
.b-align-c{text-align: center;}